apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: default
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  selector:
    app: frontend
  ports:
  - name: http
    port: 80
    targetPort: 80
  type: NodePort
